@font-face {
    font-family: sourceserif;
    src: url(SourceSerifPro-SemiBold.ttf);
  }
.container {
    width: 29rem;
    height: 38.4rem;

}
.inner-image {
    width: 25.1rem;
    height: 16.5rem;
}
.title {
    font-family: sourceserif;
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    padding: 50px;
}
.text {
    font-family: sourceserif;
    text-align: center;
    font-size: 21pt;
    width: 29rem;
}