.brief-intro-image {
    background-image: url("../components/BriefIntro/assets/05.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.brief-intro-row {
    margin: 5rem 0 0 0;
}

.brief-video-size {
    height: 85%;
    width: 85%;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
  }
  
  .react-player {
    position: relative;
    top: 0;
    left: 0;
    margin-right: 5rem;
  }
  .brief-intro-col {
    padding-bottom: 0;
}
@media only screen and (max-width: 1000px) {
    .react-player {
        position: relative;
        top: 0;
        left: 0;
        margin: auto;
      }
}

@media only screen and (max-width: 767px) {
    .brief-intro-image {
        background-image: url("../components/BriefIntro/assets/05.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .brief-intro-row {
        margin: 0 0 0 0;
    }

    .brief-intro-col {
        padding-bottom: 0;
    }
    .react-player {
        position: relative;
        top: 0;
        left: 0;
        margin: auto;
    }
    .brief-intro-col {
        padding-bottom: 1rem;
    }
}

@media only screen and (max-width: 375px) {
    .brief-intro-image {
        background-image: url("../components/BriefIntro/assets/05.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .brief-intro-row {
        margin: 0 0 0 0;
    }
    .brief-intro-col {
        padding-bottom: 5rem;
    }
    .react-player {
        position: relative;
        top: 0;
        left: 0;
        margin: auto;
        }
}