.carousel-background {
    background-color: #F9F9EA; 
    width: 100%;
    margin: auto;
}
// .ant-carousel .slick-slide img {
//     display: flex;
//     height: auto;
//     justify-content: center;
//     margin: auto;
//     width: 80%;   
// }
.carousel-home {
    .slick-slide {
        .carousel-background {
            img {
                width: 80% !important;
                display: flex !important;
                height: auto !important;
                justify-content: center !important;
                margin: auto !important;
            }
        }
    }
   
}
.carousel-media {
    padding: 10rem 0rem;
    .slick-slide {
        .carousel-background {
            img {
                width: 100% !important;
                padding: 20px !important;
                display: flex !important;
                height: auto !important;
                justify-content: center !important;
                margin: auto !important;
            }
        }
    }
   
}

.ant-carousel .slick-dots li {
    display: none !important;
}
.ant-carousel .slick-dots {
    display: none !important;
}
.ant-carousel .slick-dots li.slick-active {
    display: none !important;
}
@media only screen and (max-width: 767px) {
    .carousel-background {
        position: relative;
        background-color: #F9F9EA; 
    }
}