.carousel-background {
    height: 56.4rem;
    position: relative;
    background-color: #F9F9EA; 
}
.carousel-image {
    margin: 0;
    position: absolute;
    width: 132.1rem;
    height: 56.4rem;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.para{ 
    font-size: 12pt;
}

@media only screen and (max-width: 767px) {
    .outer {
        height: 32.6rem;
        position: relative;
        background-color: #F9F9EA; 
    }
    .innerImage {
        margin: 0;
        position: absolute;
        width: 74.1rem;
        height: 32.6rem ;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
  }