@import 'styles/mixins';
.header-contribution-image {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  position: relative; 
}
.containerdetail-text{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110vh; 
  height: 55vh;
}

.title-details {
  width: 100%;
  padding : 20px;
  font-size: 3.1rem;
  text-align: center;
}

.not-change{
  width: auto;
  height: 80vh;
}

.contribution-item-title-0 {
  position: absolute;
  top: 1%;
  left: 43%;
  font-size : 1.8rem;
  &-hidden {
    display: none;
  }
}
.box-underheading {
  background-color: #c69703;
  height: 38px;
  width: 238px;
  margin: auto;
}

.contribution-item-title-1 {
  position: absolute;
  top: 14%;
  left: 10%;
  font-size : 1.8rem;

  &-hidden {
    display: none;
  }
}
.contribution-item-title-2 {
  position: absolute;
  top: 14%;
  right: 10%;
  font-size : 1.8rem;
  &-hidden {
    display: none;
  }
}
.contribution-item-title-3 {
  position: absolute;
  top: 44%;
  right: 1%;
  font-size : 1.8rem;
  &-hidden {
    display: none;
  }
}
.contribution-item-title-4 {
  position: absolute;
  top: 44%;
  left: 1%;
  font-size : 1.8rem;
  &-hidden {
    display: none;
  }
}
.insurance-content {
  margin: auto auto 10rem auto;
  width: 60%;
  line-height: 1.5;
  font-size: 1.5rem;
}
.startup-content {
  margin: auto auto 10rem auto;
  width: 60%;
  line-height: 1.5;
  font-size: 1.5rem;
}
.foreign-content {
  margin: auto auto 10rem auto;
  width: 60%;
  line-height: 1.5;
  font-size: 1.5rem;
}
.water-content {
  margin: auto auto 10rem auto;
  width: 60%;
  line-height: 1.5;
  font-size: 1.5rem;
}
.charity-content {
  margin: auto auto 10rem auto;
  width: 60%;
  line-height: 1.5;
  font-size: 1.5rem;
}

@include maxWidth(1000px){ 
  .not-change{
    width: auto;
    height: 60vh;
  }

  .containerdetail-text{
    width: 89vh; 
    height : 40vh; 
  } 

  .contribution-item-title-0 {
    font-size: 1.4rem;
  }
  .contribution-item-title-1 {
    font-size: 1.4rem;
  }
  .contribution-item-title-2 {
    font-size: 1.4rem;
  }
  .contribution-item-title-3 {
    font-size: 1.4rem !important;
  }
  .contribution-item-title-4 {
    font-size: 1.4rem;
  }
}

@include maxWidth(767px) {
  .header-contribution-image {
    height: 100%;
  }
  .div-descript {
    width: 100%;
    height: 15rem;
  }
  .title-details {
    font-size: 1.5rem;
    text-align: center;
  }
  .not-change{
    width: auto;
    height: 50vh;
  }

  .containerdetail-text{
    width: 59vh; 
    height : 30vh; 
  }

  .box-underheading {
    height: 15px;
    width: 90px;
  }
  .contribution-item-title-0 {
    font-size: 0.8rem;
  }
  .contribution-item-title-1 {
    font-size: 0.8rem;
  }
  .contribution-item-title-2 {
    font-size: 0.8rem;
  }
  .contribution-item-title-3 {
    font-size: 0.8rem !important;
  }
  .contribution-item-title-4 {
    font-size: 0.8rem;
  }
  .contribution-item-title-0-hidden {
    margin: 1rem auto;
    font-size: 1rem;
    display: none;
  }
  .contribution-item-title-1-hidden {
    margin: 1rem auto;
    font-size: 1rem;
    display: none;
  }
  .contribution-item-title-2-hidden {
    margin: 1rem auto;
    font-size: 1rem;
    display: none;
  }
  .contribution-item-title-3-hidden {
    margin: 1rem auto;
    font-size: 1rem;
    display: none;
  }
  .contribution-item-title-4-hidden {
    margin: 1rem auto;
    font-size: 1rem;
    display: none;
  }
  .insurance-content {
    margin: auto auto 10rem auto;
    width: 70%;
    font-size: 0.8rem;
  }
  .footer_logo-wrapper {
    width: 70px;
    height: 64px;
    background-color: #414042;
    border-top-left-radius: 22px;
    border-top-right-radius: 18px;
    overflow: hidden;
    display: block;
    top: 0;
    float: right;
    margin-right: 60px;
  }
  .footer_text-wrapper {
    height: 70px;
    width: 100%;
    background-color: #c69703;
    font-size: 16px;
  }
  .startup-content {
    margin: auto auto 10rem auto;
    width: 70%;
    line-height: 1.5;
    font-size: 1rem;
  }
  .water-content {
    margin: auto auto 10rem auto;
    width: 70%;
    line-height: 1.5;
    font-size: 1rem;
  }
  .charity-content {
    margin: auto auto 10rem auto;
    width: 70%;
    line-height: 1.5;
    font-size: 1rem;
  }
  .foreign-content {
    margin: auto auto 10rem auto;
    width: 70%;
    line-height: 1.5;
    font-size: 1rem;
  }
}

@include maxWidth(500px) {
  .not-change{
    width: auto;
    height: 35vh;
  }
  .containerdetail-text{
    width: 44vh; 
    height : 22vh; 
  }

}
