.div-descript {
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 56.82vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
}

.title-contrib {
  //position center in the container
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  //format text
  text-transform: uppercase;
  text-align: center;
  font-size: 3.1rem;
  font-weight: bold;
}

.light-theme {
  color: rgb(241, 242, 242);
}

.dark-theme {
  color: rgb(109, 110, 113);
}
.dotStyle {
  width: '50px';
  height: '50px';
}
.lotus-background {
  //width: 153.03vh;
  //height: 91.26vh;
  width: 80vh;
  height: 47.7072vh;
}

.lotus-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  bottom: 0px;
  justify-content: center;
  align-items: center;
}

.lotus-containtext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 110vh;
  height: 60vh;
}

.lotus-container {
  position: relative;
  width: 100%;
  height: 47.7072vh;
}

.leaf-one {
  position: absolute;
  top: 34%;
  left: 0%;

  color: black;
  text-transform: uppercase;
  font-size: 17pt;
  font-weight: bold;
  padding: 1vh;
  border-radius: 5vh;
  border : 1px solid #C5982D; 

}

.leaf-two {
  position: absolute;
  top: 8%;
  left: 18%;

  color: black;
  text-transform: uppercase;
  font-size: 17pt;
  font-weight: bold;
  padding: 1vh;
  border-radius: 5vh;
  border : 1px solid #C5982D; 
}

.leaf-three {
  position: absolute;
  top: 0%;
  left: 43%;

  color: black;
  text-transform: uppercase;
  font-size: 17pt;
  font-weight: bold;
  padding: 1vh;
  border-radius: 5vh;
  border : 1px solid #C5982D; 
}

.leaf-four {
  position: absolute;
  top: 8%;
  right: 18%;

  color: black;
  text-transform: uppercase;
  font-size: 17pt;
  font-weight: bold;
  padding: 1vh;
  border-radius: 5vh;
  border : 1px solid #C5982D; 
}

.leaf-five {
  position: absolute;
  top: 34%;
  right: 5%;

  color: black;
  text-transform: uppercase;
  font-size: 17pt;
  font-weight: bold;
  padding: 1vh;
  border-radius: 5vh;
  border : 1px solid #C5982D; 
}

.container-bar {
  position: relative;
  width: 100%;
  height: 40vh;
}

.contrib-bar {
  width: 30vh;
  height: 2vh;
  background-color: #c69703;

  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.time_desp {
  height: 16vh;
  width: 100%;
  background-color: #f9efd4;

  display: flex;
  font-size: 1.7rem;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-weight: bold;
}

.leaf-one:hover , .leaf-two:hover , .leaf-three:hover, .leaf-four:hover, .leaf-five:hover {
  background-color: #C5982D;
  color: white
}

@media only screen and (max-width: 1000px) and (min-height: 600px) {
  .title-contrib {
    top: 55%;
  }

  .para{
    font-size: 19pt;
    font-family: 'Source Serif Pro', serif;
  }

  .lotus-containtext {
    width: 80vh;
    height: 45vh;
  }

  .lotus-background{
    width: 60vh;
    height: 35.776vh;
  }

  .lotus-container{
    height: 45vh;
  }

  .leaf-one {
    top: 40%;
    left:0%;
    font-size: 10pt;
  }

  .leaf-two {
    top: 14%;
    left: 14%; 
    font-size: 10pt;
  }

  .leaf-three {
    top: 0%;
    left: 43%;
    font-size: 10pt;
  }

  .leaf-four {
    top: 14%;
    right: 14%; 
    font-size: 10pt;
  }

  .leaf-five {
    top: 40%;
    font-size: 10pt;
  }
}

@media only screen and (max-width: 768px) and (min-height: 600px) {

  .time_desp {
    height: 10vh;
    width: 100%;
    background-color: #f9efd4;
  
    display: flex;
    font-size: 1.0rem;
    justify-content: center;
    align-items: center;
  
    text-align: center;
    font-weight: bold;
  }

  .div-descript{
    height: 30vh;
  }

  .title-contrib {
    top: 60%;
    font-size: 2rem;
  }

  .lotus-containtext {
    width: 68vh;
    height: 38vh;
  }


  .lotus-background{
    width: 50vh;
    height: 29.812vh;
  }

  .lotus-container{
    height: 38vh;
  }

  .leaf-one {
    top: 40%;
    left:0%;
    font-size: 10pt;
  }

  .leaf-two {
    top: 14%;
    left: 14%; 
    font-size: 10pt;
  }

  .leaf-three {
    top: 0%;
    left: 43%;
    font-size: 10pt;
  }

  .leaf-four {
    top: 14%;
    right: 14%; 
    font-size: 10pt;
  }

  .leaf-five {
    top: 40%;
    font-size: 10pt;
  }

}


@media only screen and (max-width: 581px) and (min-height: 600px) {
  
  .lotus-containtext {
    width: 55vh;
    height: 33vh;
  }


  .lotus-background{
    width: 40vh;
    height: 23.85vh;
  }

  .lotus-container{
    height: 33vh;
  }

  .leaf-one {
    top: 45%;
    left:0%;
    font-size: 10pt;
  }

  .leaf-two {
    top: 19%;
    left: 14%; 
    font-size: 10pt;
  }

  .leaf-three {
    top: 8%;
    left: 40%;
    font-size: 10pt;
  }

  .leaf-four {
    top: 19%;
    right: 14%; 
    font-size: 10pt;
  }

  .leaf-five {
    top: 45%;
    font-size: 10pt;
  }

}

@media only screen and (max-width: 400px) and (min-height: 600px) {
  .lotus-containtext {
    width: 44vh;
    height: 29vh;
  }


  .lotus-background{
    width: 35vh;
    height: 20.86vh;
  }

  .lotus-container{
    height: 29vh;
  }

  .leaf-one {
    font-size: 6pt;
  }

  .leaf-two {
    font-size: 6pt;
  }

  .leaf-three {
    left: 43%;
    font-size: 6pt;
  }

  .leaf-four {
    font-size: 6pt;
  }

  .leaf-five {
    font-size: 6pt;
  }
}
 

@media only screen and (max-width: 376px) and (min-height: 600px) {
  
  .div-descript{
    height: 30vh;
  }
  
  .title-contrib {
    top: 60%;
    font-size: 1.8rem;
  }

  .lotus-containtext {
    width: 42vh;
    height: 25vh;
  }


  .lotus-background{
    width: 35vh;
    height: 20.86vh;
  }

  .lotus-container{
    height: 30vh;
  }

  .leaf-one {
    font-size: 5pt;
  }

  .leaf-two {
    font-size: 5pt;
  }

  .leaf-three {
    font-size: 5pt;
  }

  .leaf-four {
    font-size: 5pt;
  }

  .leaf-five {
    font-size: 5pt;
  }
  .div-descript {
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: 10rem;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center;
  }
} 
