.div-descript {
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 56.82vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center;
}

.title-contrib {
  //position center in the container
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);

  //format text
  text-transform: uppercase;
  text-align: center;
  font-size: 3.1rem;
  font-family: 'Source Serif Pro',serif;
  font-weight: bold;
}

.light-theme {
  color: rgb(241, 242, 242);
}

.dark-theme {
  color: rgb(109, 110, 113);
}
.dotStyle {
  width: '50px';
  height: '50px';
}
.lotus-background {
  //width: 153.03vh;
  //height: 91.26vh;
  width: 80vh;
  height: 47.7072vh;
}

.lotus-flex {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  bottom: 0px;
  justify-content: center;
  align-items: center;
}

.lotus-containtext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 110vh;
  height: 63vh;
}

.lotus-container {
  position: relative;
  width: 100%;
  height: 47.7072vh;
}

.leaf-one {
  position: absolute;
  top: 34%;
  left: 0%;

  color: black;
  text-transform: uppercase;
  font-size: 17pt;
  font-weight: bold;
  padding: 1vh;
  font-family: 'Source Serif Pro',serif;
  border-radius: 5vh;
  border : 1px solid #C5982D; 

}

.leaf-two {
  position: absolute;
  top: 8%;
  left: 18%;

  color: black;
  text-transform: uppercase;
  font-size: 17pt;
  font-family: 'Source Serif Pro',serif;
  font-weight: bold;
  padding: 1vh;
  border-radius: 5vh;
  border : 1px solid #C5982D; 
}

.leaf-three {
  position: absolute;
  top: 0%;
  left: 43%;

  color: black;
  text-transform: uppercase;
  font-size: 17pt;
  font-weight: bold;
  font-family: 'Source Serif Pro',serif;
  padding: 1vh;
  border-radius: 5vh;
  border : 1px solid #C5982D; 
}

.leaf-four {
  position: absolute;
  top: 8%;
  right: 18%;

  color: black;
  text-transform: uppercase;
  font-family: 'Source Serif Pro',serif;
  font-size: 17pt;
  font-weight: bold;
  padding: 1vh;
  border-radius: 5vh;
  border : 1px solid #C5982D; 
}

.leaf-five {
  position: absolute;
  top: 34%;
  right: 5%;

  color: black;
  text-transform: uppercase;
  font-size: 17pt;
  font-weight: bold;
  padding: 1vh;
  font-family: 'Source Serif Pro',serif;
  border-radius: 5vh;
  border : 1px solid #C5982D; 
}

.container-bar {
  position: relative;
  width: 100%;
  height: 40vh;
}

.contrib-bar {
  width: 30vh;
  height: 2vh;
  background-color: #c69703;

  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.time_desp {
  height: 16vh;
  width: 100%;
  background-color: #f9efd4;

  display: flex;
  font-size: 1.7rem;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-family: 'Source Serif Pro',serif;
  font-weight: bold;
}

.leaf-one:hover , .leaf-two:hover , .leaf-three:hover, .leaf-four:hover, .leaf-five:hover {
  background-color: #C5982D;
  color: white
}

//===================================================================================================
//Ipad or tablets

@media only screen and (min-width: 1024px) and (max-width: 1050px) and (orientation: portrait) {
  .lotus-containtext {
    width: 65vh;
    height: 38vh;
  }

  .lotus-background{
    width: 55vh;
    height: 32.7946vh;
  }

  .lotus-container{
    height: 38vh;
  }

  .leaf-one {
    top: 40%;
    left:0%;
    font-size: 10pt;
  }

  .leaf-two {
    top: 12%;
    left: 14%; 
    font-size: 10pt;
  }

  .leaf-three {
    top: 0%;
    left: 44%;
    font-size: 10pt;
  }

  .leaf-four {
    top: 12%;
    right: 14%; 
    font-size: 10pt;
  }

  .leaf-five {
    top: 40%;
    font-size: 10pt;
  }
}

@media only screen and (min-width: 834px) and (max-width: 1023px) and (orientation: portrait) {
  .title-contrib {
    top: 55%;
  }

  .para{
    font-size: 19pt;
    font-family: 'Source Serif Pro', serif;
  }
  .lotus-containtext {
    width: 65vh;
    height: 38vh;
  }

  .lotus-background{
    width: 55vh;
    height: 32.7946vh;
  }

  .lotus-container{
    height: 38vh;
  }

  .leaf-one {
    top: 40%;
    left:0%;
    font-size: 10pt;
  }

  .leaf-two {
    top: 12%;
    left: 14%; 
    font-size: 10pt;
  }

  .leaf-three {
    top: 0%;
    left: 44%;
    font-size: 10pt;
  }

  .leaf-four {
    top: 12%;
    right: 14%; 
    font-size: 10pt;
  }

  .leaf-five {
    top: 40%;
    font-size: 10pt;
  }
}

@media only screen and (min-width: 820px) and (max-width: 833px) and (orientation: portrait) {
  .title-contrib {
    top: 55%;
  }

  .para{
    font-size: 19pt;
    font-family: 'Source Serif Pro', serif;
  }
  .lotus-containtext {
    width: 65vh;
    height: 38vh;
  }

  .lotus-background{
    width: 55vh;
    height: 32.7946vh;
  }

  .lotus-container{
    height: 38vh;
  }

  .leaf-one {
    top: 40%;
    left:0%;
    font-size: 10pt;
  }

  .leaf-two {
    top: 12%;
    left: 14%; 
    font-size: 10pt;
  }

  .leaf-three {
    top: 0%;
    left: 44%;
    font-size: 10pt;
  }

  .leaf-four {
    top: 12%;
    right: 14%; 
    font-size: 10pt;
  }

  .leaf-five {
    top: 40%;
    font-size: 10pt;
  }


}
@media only screen and (min-width: 810px) and (max-width: 819px) and (orientation: portrait) {
  .title-contrib {
    top: 55%;
  }

  .para{
    font-size: 19pt;
    font-family: 'Source Serif Pro', serif;
  }
  .lotus-containtext {
    width: 64vh;
    height: 38vh;
  }

  .lotus-background{
    width: 55vh;
    height: 32.7946vh;
  }

  .lotus-container{
    height: 38vh;
  }
  
  .leaf-one {
    top: 40%;
    left:0%;
    font-size: 10pt;
  }

  .leaf-two {
    top: 12%;
    left: 14%; 
    font-size: 10pt;
  }

  .leaf-three {
    top: 0%;
    left: 44%;
    font-size: 10pt;
  }

  .leaf-four {
    top: 12%;
    right: 14%; 
    font-size: 10pt;
  }

  .leaf-five {
    top: 40%;
    font-size: 10pt;
  }

}


@media only screen and (min-width: 768px) and (max-width: 809px) and (orientation: portrait) {

  .para{
    font-size: 19pt;
    font-family: 'Source Serif Pro', serif;
  }
  .time_desp {
    height: 10vh;
    width: 100%;
    background-color: #f9efd4;
  
    display: flex;
    font-size: 1.0rem;
    justify-content: center;
    align-items: center;
  
    text-align: center;
    font-weight: bold;
  }

  .div-descript{
    height: 30vh;
  }

  .title-contrib {
    top: 60%;
    font-size: 2rem;
  }

  .lotus-containtext {
    width: 68vh;
    height: 38vh;
  }


  .lotus-background{
    width: 50vh;
    height: 29.812vh;
  }

  .lotus-container{
    height: 38vh;
  }

  .leaf-one {
    top: 40%;
    left:0%;
    font-size: 10pt;
  }

  .leaf-two {
    top: 14%;
    left: 14%; 
    font-size: 10pt;
  }

  .leaf-three {
    top: 0%;
    left: 44%;
    font-size: 10pt;
  }

  .leaf-four {
    top: 14%;
    right: 14%; 
    font-size: 10pt;
  }

  .leaf-five {
    top: 40%;
    font-size: 10pt;
  }

}

@media screen and (min-width: 744px) and (max-width: 767px) and (orientation: portrait) {
  .para{
    font-size: 19pt;
    font-family: 'Source Serif Pro', serif;
  }
  .time_desp {
    height: 10vh;
    width: 100%;
    background-color: #f9efd4;
  
    display: flex;
    font-size: 1.0rem;
    justify-content: center;
    align-items: center;
  
    text-align: center;
    font-weight: bold;
  }

  .div-descript{
    height: 30vh;
  }

  .title-contrib {
    top: 60%;
    font-size: 2rem;
  }
  .lotus-containtext {
    width: 62vh;
    height: 40vh;
  }

  .lotus-background{
    width: 55vh;
    height: 32.7946vh;
  }

  .lotus-container{
    height: 38vh;
  }

  .leaf-one {
    top: 40%;
    left:0%;
    font-size: 10pt;
  }

  .leaf-two {
    top: 14%;
    left: 14%; 
    font-size: 10pt;
  }

  .leaf-three {
    top: 0%;
    left: 44%;
    font-size: 10pt;
  }

  .leaf-four {
    top: 14%;
    right: 14%; 
    font-size: 10pt;
  }

  .leaf-five {
    top: 40%;
    font-size: 10pt;
  }
}

//===========================================================================================

//Landscape phoneeee

@media only screen and (min-width: 667px) and (max-width:927px) and (orientation: landscape) {
  .para{
    font-size: 19pt;
    font-family: 'Source Serif Pro', serif;
  }
  .lotus-containtext {
    width: 29rem;
    height: 14rem;
  }

  .lotus-background{
    width: 18rem;
    height: auto;
  }

  .lotus-container{
    height: 14rem;
  }
    .leaf-one {
    top: 40%;
    left:0%;
    font-size: 10pt;
  }

  .leaf-two {
    top: 14%;
    left: 14%; 
    font-size: 10pt;
  }

  .leaf-three {
    top: 0%;
    left: 43%;
    font-size: 10pt;
  }

  .leaf-four {
    top: 14%;
    right: 14%; 
    font-size: 10pt;
  }

  .leaf-five {
    top: 40%;
    font-size: 10pt;
  }
}

@media only screen and (min-width: 568px) and (max-width: 666px) and (orientation: landscape) {
  .para{
    font-size: 19pt;
    font-family: 'Source Serif Pro', serif;
  }
  .lotus-containtext {
    width: 28rem;
    height: 13.5rem;
  }

  .lotus-background{
    width: 18rem;
    height: auto;
  }

  .lotus-container{
    height: 13.5rem;
  }
    .leaf-one {
    top: 40%;
    left:0%;
    font-size: 10pt;
  }

  .leaf-two {
    top: 14%;
    left: 14%; 
    font-size: 10pt;
  }

  .leaf-three {
    top: 0%;
    left: 41%;
    font-size: 10pt;
  }

  .leaf-four {
    top: 14%;
    right: 14%; 
    font-size: 10pt;
  }

  .leaf-five {
    top: 40%;
    font-size: 10pt;
  } 
}


//================================================================================================

//Phoneee



@media only screen and (min-width: 476px) and (max-width: 500px) and (orientation: portrait) {
  .para{
    font-size: 19pt;
    font-family: 'Source Serif Pro', serif;
  }
  .time_desp {
    height: 3rem;
    width: 100%;
    background-color: #f9efd4;
  
    display: flex;
    font-size: 1.0rem;
    justify-content: center;
    align-items: center;
  
    text-align: center;
    font-weight: bold;
  }

  .div-descript{
    height: 16rem;
  }

  .title-contrib {
    top: 60%;
    font-size: 2rem;
  }
  .lotus-containtext {
    width: 26rem;
    height: 14rem;
  }


  .lotus-background{
    width: 18.5rem;
    height: auto;
  }

  .lotus-container{
    height: 14rem;
  }

  .leaf-one {
    top: 40%;
    left:0%;
    font-size: 8pt;
  }

  .leaf-two {
    top: 14%;
    left: 14%; 
    font-size: 8pt;
  }

  .leaf-three {
    top: 0%;
    left: 42%;
    font-size: 8pt;
  }

  .leaf-four {
    top: 14%;
    right: 14%; 
    font-size: 8pt;
  }

  .leaf-five {
    top: 40%;
    font-size: 8pt;
  }
}
@media only screen and (min-width: 428px) and (max-width:474px) and (orientation: portrait) {
  .para{
    font-size: 19pt;
    font-family: 'Source Serif Pro', serif;
  }
  .time_desp {
    height: 3rem;
    width: 100%;
    background-color: #f9efd4;
  
    display: flex;
    font-size: 1.0rem;
    justify-content: center;
    align-items: center;
  
    text-align: center;
    font-weight: bold;
  }

  .div-descript{
    height: 16rem;
  }

  .title-contrib {
    top: 60%;
    font-size: 2rem;
  }
  .lotus-containtext {
    width: 24rem;
    height: 13.4rem;
  }


  .lotus-background{
    width: 18.5rem;
    height: auto;
  }

  .lotus-container{
    height: 13.4rem;
  }

  .leaf-one {
    font-size: 6pt;
  }

  .leaf-two {
    font-size: 6pt;
  }

  .leaf-three {
    left: 42.5%;
    font-size: 6pt;
  }

  .leaf-four {
    font-size: 6pt;
  }

  .leaf-five {
    font-size: 6pt;
  }
}

@media only screen and (min-width: 414px) and (max-width:420px) and (orientation: portrait) {
  .para{
    font-size: 19pt;
    font-family: 'Source Serif Pro', serif;
  }
  .time_desp {
    height: 3rem;
    width: 100%;
    background-color: #f9efd4;
  
    display: flex;
    font-size: 1.0rem;
    justify-content: center;
    align-items: center;
  
    text-align: center;
    font-weight: bold;
  }

  .div-descript{
    height: 16rem;
  }

  .title-contrib {
    top: 60%;
    font-size: 2rem;
  }
  .lotus-containtext {
    width: 22rem;
    height: 12.4rem;
  }


  .lotus-background{
    width: 16.5rem;
    height: auto;
  }

  .lotus-container{
    height: 12.4rem;
  }

  .leaf-one {
    font-size: 6pt;
  }

  .leaf-two {
    font-size: 6pt;
  }

  .leaf-three {
    left: 42%;
    font-size: 6pt;
  }

  .leaf-four {
    font-size: 6pt;
  }

  .leaf-five {
    font-size: 6pt;
  }
}

@media only screen and (min-width: 390px) and (max-width: 410px) and (orientation: portrait){
  .para{
    font-size: 19pt;
    font-family: 'Source Serif Pro', serif;
  }
  .time_desp {
    height: 3rem;
    width: 100%;
    background-color: #f9efd4;
  
    display: flex;
    font-size: 1.0rem;
    justify-content: center;
    align-items: center;
  
    text-align: center;
    font-weight: bold;
  }

  .div-descript{
    height: 16rem;
  }
  
  .title-contrib {
    top: 60%;
    font-size: 1.8rem;
  }

  .lotus-containtext {
    width: 22rem;
    height: 13rem;
  }


  .lotus-background{
    width: 17.5rem;
    height: auto;
  }

  .lotus-container{
    height: 13rem;
  }

  .leaf-one {
    top: 36%;
    font-size: 5pt;
  }

  .leaf-two {
    top: 12%;
    font-size: 5pt;
  }

  .leaf-three {
    left: 43%;
    font-size: 5pt;
  }

  .leaf-four {
    top: 12%;
    font-size: 5pt;
  }

  .leaf-five {
    top: 36%;
    font-size: 5pt;
  }
}


@media only screen and (min-width: 375px) and (max-width: 389px) and(orientation: portrait) {
  .para{
    font-size: 19pt;
    font-family: 'Source Serif Pro', serif;
  }
  .time_desp {
    height: 3rem;
    width: 100%;
    background-color: #f9efd4;
  
    display: flex;
    font-size: 1.0rem;
    justify-content: center;
    align-items: center;
  
    text-align: center;
    font-weight: bold;
  }

  .div-descript{
    height: 16rem;
    width: 100%;
  }
  .title-contrib {
    top: 60%;
    font-size: 1.8rem;
  }

  .lotus-containtext {
    width: 20rem;
    height: 9.5rem;
  }


  .lotus-background{
    width: 12.5rem;
    height: auto;
  }

  .lotus-container{
    height: 9.5rem;
  }

  .leaf-one {
    font-size: 5pt;
  }

  .leaf-two {
    top: 12%;
    font-size: 5pt;
  }

  .leaf-three {
    left: 42%;
    font-size: 5pt;
  }

  .leaf-four {
    top: 12%;
    font-size: 5pt;
  }

  .leaf-five {
    font-size: 5pt;
  }
} 

@media only screen and (min-width: 320px) and (max-width: 370px) and (orientation: portrait){
  .time_desp {
    height: 3rem;
    width: 100%;
    background-color: #f9efd4;
  
    display: flex;
    font-size: 1.0rem;
    justify-content: center;
    align-items: center;
  
    text-align: center;
    font-weight: bold;
  }

  .div-descript{
    height: 16rem;
  }

  .title-contrib {
    top: 60%;
    font-size: 1.5rem;
  }
  .lotus-background{
    width: 12.5rem;
    height: auto;
  }

  .lotus-container{
    height: 9.5rem;
  }

  .lotus-containtext {
    width: 18rem;
    height: 9.5rem;
  }

  .leaf-one {
    font-size: 5pt;
  }

  .leaf-two {
    top: 12%;
    font-size: 5pt;
  }

  .leaf-three {
    left: 42%;
    font-size: 5pt;
  }

  .leaf-four {
    top: 12%;
    font-size: 5pt;
  }

  .leaf-five {
    font-size: 5pt;
  }
}
