@import 'styles/mixins';
.index-group-container {
  width: 25%;
  height: auto;
  padding: 30px;
  min-width: 26rem;
}
.index-img-holder {
  display: flex;
  justify-content: center;
  height: 50%;
  margin: auto;
}
.index-insurance-img {
  max-width: 72%;
  height: auto;
  margin: auto;
}
.index-water-img {
  max-width: 47%;
  height: auto;
  margin: auto;
}
.index-startup-img {
  max-width: 82%;
  height: auto;
  margin: auto;
}
.index-diplomacy-img {
  max-width: 57%;
  height: auto;
  margin: auto;
}
.index-combine-title {
  font-family: 'Source Serif Pro', serif;
  color: #414042;
  text-align: center;
  font-size: 24pt;
  font-weight: bold;
}
.index-group-title {
  font-family: 'Source Serif Pro', serif;
  color: black;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  padding-top: 0.5rem;
}
.index-group-text {
  font-family: 'Source Serif Pro', serif;
  text-align: justify;
  font-size: 1.4rem;
  font-weight: normal;
  width: 100%;
}
// CSS cho group cua 4 container insurance, water, startup, diplomacy
.index-combine-container {
  margin: auto;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0px 0px;
  flex-wrap: wrap;
  margin-top: 50px;
}
@media only screen and (min-width: 1440px) {
  .index-combine-container {
    margin: auto;
    width: 98%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0px 0px;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .index-group-container {
    width: 25%;
    height: auto;
    min-width: 13rem;
}
}

@media only screen and (max-width: 830px) {
  .index-group-container {
    width: 25%;
    height: auto;
    padding: 28px;
    min-width: 42rem;
  }
  .index-group-title {
    font-family: "Source Serif Pro", serif;
    color: black;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    padding-top: 1.5rem;
}
  .index-img-holder {
    display: flex;
    justify-content: center;
    height: 58%;
    margin: auto;
}
}
@media only screen and (max-width: 420px) {
  .index-combine-container {
    display: block;
  }
  .index-insurance-img {
    width: 75%;
    height: auto;
    margin: auto;
  }
  .index-water-img {
    width: 55%;
    height: auto;
    margin: auto;
  }
  .index-startup-img {
    width: 87%;
    height: auto;
    margin: auto;
  }
  .index-diplomacy-img {
    width: 60%;
    height: auto;
    margin: auto;
  }
  .index-group-container {
    width: 100%;
    justify-content: center;
    height: auto;
    margin: auto;
    margin-bottom: 30px;
    min-width: 100%;
  }
  .index-group-text {
    font-family: 'Source Serif Pro', serif;
    text-align: justify;
    font-size: 11pt;
    font-weight: normal;
    width: 100%;
  }
  .index-group-title {
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    padding: 0px;
  }
  .index-combine-title {
    font-family: "Source Serif Pro", serif;
    color: #414042;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    padding: 0px 50px 0px 50px;
}
}