.media-center-image {
    width: 12rem;
    height:8rem;
    object-fit: cover;
}

.media-slider-image {
    margin: auto; 
    width: auto;
    height: 40.833333333333332vw;
}

.media-slider-container {
    margin-top: 5rem; 
    margin-right: 1.5vw;
}
.media-box-data{
    margin: auto;
    width: 100%;
    height: 100%;
}
.sub-title {
    text-align: center;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    display: block;
    font-size: 14pt;
    margin-top: -15px;
    margin-bottom: 0.5rem;
    font-family: 'Source Serif Pro',serif;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {
    .media-center-image {
        width: 12rem;
        height:8rem;
        object-fit: cover;
    }
    
    .media-slider-image {
        margin: auto; 
        width: auto;
        height: 40.833333333333332vw;
    }
    
    .media-slider-container {
        margin-top: 5rem; 
        margin-right: 1.5vw;
    }
    .media-box-data{
        width: 60%;
        height: 60%;
        margin: auto;
    }
    .sub-title {
        text-align: center;
        display: block;
        font-size: 12pt;
        margin-top: -35px;
        margin-bottom: 1rem;
        font-family: 'Source Serif Pro',serif;
        font-weight: bold;
    }
}

@media only screen and (max-width: 375px) {
    .media-center-image {
        width: 8rem;
        height:6rem;
        margin-right: 1px;
    }
    
    .media-slider-image {
        margin: auto; 
        width: auto;
        height: 40.833333333333332vw;
    }
    
    .media-slider-container {
        margin-top: 5rem; 
        margin-left: 2rem;
    }

    .media-box-data{
        width: 80%;
        height: 80%;
        margin: auto;
    }

    .sub-title {
        text-align: center;
        display: block;
        font-size: 10pt;
        margin-top: -35px;
        margin-bottom: 1rem;
        font-family: 'Source Serif Pro',serif;
        font-weight: bold;
    }

}