.media-data-img {
    width: 32rem;
    height: 18rem;
    margin: auto;
}
.media-data-img:hover {
    transform: scale(1.05);
    transition-duration: 0.6s;
}
.media-data-title {
    @include textClamp(2);
    text-align: center;
    font-family: 'Source Serif Pro',serif;
    font-weight: bold;
    white-space: pre-line;
    font-size: 20pt;
    display: flex;             
    min-height: 15vh;
    align-items: center;
    justify-content: center;
}
.media-data-title:hover {
    color: #C69703;
}
.media-data-btn-container {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 2rem
}

@media only screen and (max-width: 767px)   {
    .media-data-img{
        width: 24rem;
        height: 13.5rem;
        margin: auto;
    }
    .media-data-title {
        @include textClamp(2);
        text-align: center;
        font-family: 'Source Serif Pro',serif;
        font-weight: bold;
        white-space: pre-line;
        font-size: 18pt;
        display: flex;             
        min-height: 15vh;
        align-items: center;
        justify-content: center;
    }
    
}

@media only screen and (max-width: 375px)   {
    .media-data-img {
        width: 16rem;
        height: 9rem;
        margin: auto;
    }
    .media-data-title {
        @include textClamp(2);
        text-align: center;
        font-family: 'Source Serif Pro',serif;
        font-weight: bold;
        white-space: pre-line;
        font-size: 16pt;
        display: flex;             
        min-height: 15vh;
        align-items: center;
        justify-content: center;
    }
}  