@import 'styles/mixins';
.box-heading {
  margin-top: 0;
}
.quote-container {
  background-image: url('../views/Quotes/assets/quotes-07.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
  width: 100%;
}
.quote-title {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  padding: 18rem 12rem;
  text-transform: uppercase;
}
.box-underheader {
  background-color: #c69703;
  height: 38px;
  width: 240px;
  margin: auto;
}
.content-quote {
  margin: 5rem auto 10rem auto;
  text-align: center;
}
.quote-heading {
  text-align: center;
  font-family: Source Serif Variable;
  font-style: bold;
  font-size: 3rem;
}
.box-quotedata {
  margin: auto;
  width: 100%;
  height: 100%;
}
.quote-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  padding: 25px;
}
.quote-image {
  width: 404px;
  height: 493px;
  margin-bottom: 15px;
  align-items: baseline;
  left: 49px;
}
.quote-image-desc {
  font-size: 1.1rem;
  font: Source Serif Variable;
  font-style: Regular;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
}
.quote-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box-footering {
  display: block;
  height: 11rem;
  margin-bottom: 17.2rem;
  background-color: #f9efd4;
}
.quote-footerone {
  text-align: center;
  padding: 2rem;
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
  display: block;
}
.quote-footertwo {
  text-align: center;
  font-size: 4rem;
  font-family: 'Source Serif Pro', serif;
  font-weight: bold;
  display: block;
  margin: -3rem auto;
}
@include maxWidth(767px) {
  .quote-container {
    height: 280px;
    width: 100%;
  }
  .box-quotetitle {
    margin-top: 10%;
  }
  .quote-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    font-style: bold;
    text-align: center;
    display: block;
    padding: 30% 5%;
  }
  .box-underheader {
    height: 0.5rem;
    width: 5rem;
    margin: auto auto -26% auto;
  }
  .content-quote {
    margin: 13rem auto 2rem auto;
    display: block;
  }
  .quote-heading {
    font-size: 1.5rem;
  }
  .box-quotedata {
    margin: auto;
    width: 60%;
    margin: auto auto 5rem auto;
  }
  .quote-list {
    display: block;
  }
  .quote-image {
    width: 410px;
    height: 400px;
  }
  .quote-image-desc {
    margin: -4px -29px 40px -23px;
    text-align: center;
    font-size: 0.85rem;
  }
  .quote-image-desc:after {
    content: '';
    display: block;
    width: 11%;
    height: 1%;
    background-color: #c69703;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 1rem auto;
  }
  .box-footering {
    width: 100%;
    display: block;
    height: 114px;
  }
  .quote-footerone {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .quote-footertwo {
    font-size: 2rem;
    font-weight: bold;
  }
} ;
