@import 'styles/layout';
@import 'styles/antd';
@import 'styles/gallery';
@import 'styles/quotelist';
@import 'styles/variables';
@import 'styles/footer';
@import 'styles/contribute';
@import 'styles/contributiondetail';
@import '/src//styles/slick';
@import '~bootstrap/scss/bootstrap';
@import '~video-react/styles/scss/video-react';
@import 'styles/indexgroup';
@import 'styles/testimonialsslider';
@import "~react-image-gallery/styles/scss/image-gallery.scss";

html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

nav {
  display: inline-flex;
  width: 100%;
  // position: fixed;
  justify-content: space-between;
  margin: 1px 0 2px 0;
  height: 140px;
  font-family: 'Source Serif Pro', serif;
}
nav #logo {
  width: 7%;
  margin-left: 15%;
  border-bottom: none;
}
nav img {
  top: 0;
  margin: 0px;
  height: 90%;
}
nav ul {
  list-style: none;
  height: 80%;
  margin-top: 82px;
  margin-right: 298px;
}
nav ul li {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  padding: 0 35px;
}
nav ul li a {
  color: #231f20;
  padding: 4px 20px;
  justify-content: baseline;
  width: 148px;
}
nav ul li a:hover,
.active {
  animation: colorTransform ease 0.3s;
  color: #cccaae;
  border-bottom: 3px solid #cccaae;
}
@keyframes colorTransform {
  from {
    color: #231f20;
    border-bottom: 3px solid white;
  }
  to {
    color: #cccaae;
    border-bottom: 3px solid #cccaae;
  }
}
