@import 'styles/layout';
@import 'styles/antd';
@import 'styles/gallery';
@import 'styles/quotelist';
@import 'styles/variables';
@import 'styles/footer';
@import 'styles/contribute';
@import 'styles/contributiondetail';
@import '/src/styles/slick';
@import '~bootstrap/scss/bootstrap';
@import '~video-react/styles/scss/video-react';
@import 'styles/indexgroup';
@import 'styles/testimonialsslider';
@import 'styles/gallery_home';
@import '~react-image-gallery/styles/scss/image-gallery.scss';
@import 'styles/carouselslider';
@import 'styles/quotestesthome';
@import "styles/biography";
@import "../src/styles/media";
@import "../src/styles/briefintro";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";
@import "styles/section2";
html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  /* justify-content: space-between; */
  padding: 0px;
  flex-direction: row;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

nav {
  display: inline-flex;
  width: 100%;
  // position: fixed;
  font-family: 'Source Serif Pro', serif;
}
nav #logo {
  width: 7%;
  //margin-left: 15%;
  margin-left: 10vh;
  border-bottom: none;
  padding-bottom: 20px;
}
nav img {
  top: 0;
  margin: 0px;
  height: 90%;
}
nav ul {
  list-style: none;
  height: 80%;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  height: 7vh;
  flex-wrap: wrap;
  margin-right: 10vh;
}
nav ul li {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  display:flex;
  width: 22vh; 
  flex-direction: column;
  align-items: center;
  padding: 5px 8px;
}
nav .icon-navbar {
  display: none;
}
nav ul li a {
  color: #231f20;
  //padding-top: 4px;
  //padding-bottom: 4px;
  //justify-content: baseline;
  //width: 148px;
  justify-content: center;
}
nav ul li a:hover{
  animation: colorTransform ease 0.3s;
  color: #cccaae;
  border-bottom: 2px solid #cccaae;
}
nav ul li a.active {
  animation: colorTransform ease 0.3s;
  color: #cccaae;
  border-bottom: 2px solid #cccaae;
  width: fit-content;
}

@keyframes colorTransform {
  from {
    color: #231f20;
    border-bottom: 2px solid white;
  }
  to {
    color: #cccaae;
    border-bottom: 2px solid #cccaae;
  }
}

@media (max-width: 321px) {
  nav ul li a {
    font-size: 12pt;  
  }
}

@media (max-width: 376px) {
  nav #logo {
    width: 10.8vh;
    margin-left: 5vh;
    height : 9.41833vh;
    max-height: 9.6vh;
  }

  nav .icon-navbar{
    display:flex;
    color : #C5982D;
    margin-left: 20%;
    margin-right: 10%;
  }

  nav ul {
    display: none;
  }

  .navbar #hidden {
    width: 100%;  
    display: flex;
    margin: 0px; 
    flex-direction: column;
    flex-wrap: nowrap;
    height: fit-content;
  }

}

@media only screen and (max-width: 670px) and (max-height: 380px) {
  nav .icon-navbar{
    display:flex;
    color : #C5982D;
    margin-right: 10%;
  }
  nav ul {
    display: none;
  } 
  nav ul li {
    width: 25vh;
  }

  nav ul li a {
    font-size: 8pt;  
  }
  nav #logo {
    width: 20.8vh;
    margin-left: 5vh;
    height : 19.41833vh;
    max-height: 19.6vh;
  }

  .navbar #hidden {
    width: 100%;  
    display: flex;
    margin: 0px; 
    flex-direction: column;
    flex-wrap: nowrap;
    height: fit-content;
  }
}

@media (max-width: 850px) and (min-height: 605px){
  nav ul {
    display: none;
  } 
  nav .icon-navbar{
    display:flex;
    color : #C5982D;
    margin-left: 40%;
    margin-right: 10%;
  }

  nav #logo {
    width: 10.8vh;
    margin-left: 5vh;
    height : 9.41833vh;
    max-height: 9.6vh;
  }

}

@media (max-width: 768px) and (min-height: 605px){
  nav .icon-navbar{
    display:flex;
    margin-left: 40%;
    color : #C5982D;
    margin-right: 10%;
  }

  nav ul {
    display: none;
  }

  nav #logo {
    width: 10.8vh;
    margin-left: 5vh;
    height : 9.41833vh;
    max-height: 9.6vh;
  }

  
  .navbar #hidden {
    width: 100%;  
    display: flex;
    margin: 0px; 
    flex-direction: column;
    flex-wrap: nowrap;
    height: fit-content;
  }

}

@media (max-width: 940px) and (min-height: 370px){
  nav ul li a {
    font-size: 12px;  
  }

  nav ul {
    margin-right: 5vh;
  }
}

@media (max-width: 920px) and (min-height: 1000px) {
  nav .icon-navbar{
    display:flex;
    color : #C5982D;
    margin-right: 10%;
  }

  nav ul {
    display: none;
  } 

  nav #logo {
    width: 10.8vh;
    margin-left: 5vh;
    height : 9.41833vh;
    max-height: 9.6vh;
  }

  .navbar #hidden {
    width: 100%;  
    display: flex;
    margin: 0px; 
    flex-direction: column;
    flex-wrap: nowrap;
    height: fit-content;
  }

}

@media only screen and (max-width: 1025px) and (min-height: 1200px) {
  nav .icon-navbar{
    display:flex;
    color : #C5982D;
    margin-right: 10%;
  }
  nav ul {
    display: none;
  } 
  nav #logo {
    width: 10.8vh;
    margin-left: 5vh;
    height : 9.41833vh;
    max-height: 9.6vh;
  }

  .navbar #hidden {
    width: 100%;  
    display: flex;
    margin: 0px; 
    flex-direction: column;
    flex-wrap: nowrap;
    height: fit-content;
  }

}
